@import "styles/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes appear {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes disappear {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#root {
  font-family: Poppins, sans-serif;
  color: white;

  margin: 0 auto;
  padding: 0;

  min-height: 100vh;
  min-width: 100vw;
}

main {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #1a0924;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
    
    .menu-options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      a {
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        color: white;
  
        &:hover {
          color: #8325CC;
          transition: all 230ms;
        }
      }
    }

    button {
      border-radius: 24px;
      border: none;
      font-size: 16px;
      font-weight: 500;
      background-color: transparent;
      overflow: hidden;
      position: relative;
      transition: background-color 200ms ease;
    
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        padding: 10px 18px;
        border-radius: 24px;
        border: none;
      }
    
      .btn-face-white {
        color: gray;
        background-color: white;
        z-index: 998;
      }
    
      .btn-face-purple {
        background-color: #8325CC;
        color: white;
        display: none;
        z-index: 999;
        position: absolute;
        top: 0;
      }
    
      &:hover .btn-face-purple {
        display: flex;
        animation: appear 400ms ease-in-out forwards;
      }
      &:not(:hover) .btn-face-purple {
        display: flex;
        animation: disappear 400ms ease-in-out forwards;
      }
    }
  }
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
  }

  h1 {
    font-size: 52px;
  }

  .bubble {
    background: hsla(0, 0%, 100%, 0.1);
    padding: 12px 14px;
    border-radius: 50%;
    position: absolute;

    &.fire {
      right: 20px;
      transform: rotate(-20deg);
      bottom: 30%;
      font-size: 24px;
    }
    &.rocket {
      top: 20%;
      right: 100px;
      font-size: 42px;
    }
    &.target {

    }
  }
}
